#intro {
	width: 100%;
	height: 100vh;
	background-image: url("https://images.pexels.com/photos/884454/pexels-photo-884454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-position: center;
	background-size: cover;
}

#navcol-1 {
	font-size: 20px;
	font-weight: 700;
	font-family: "Montserrat", "sans-seriff"
	color: black;
	display: inline;
}

.navbar-brand {
	color: white;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #AB6969;
}


.navbar-right {
	margin-left: 850px;
}

.col {
	text-align: center;
	margin-top: 120px;
	color: white;
	font-size: 27px;
	font-family: "Montserrat", "sans-seriff";
}