
.navbar {
  	overflow: hidden;
  	background-color: #111111;
  	position: fixed;
  	top: 0;
  	height: 70px;
  	width: 100%;
}

.navlink {
  	float: right;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 25px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.navname {
	float:left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 25px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.navbar a:hover {
	color: #6e6e6e  
}

.row {
	color: white;
}

.col {
	text-align: center;
	margin-top: 200px;
	font-family: "Montserrat", "sans-serif";
	font-weight: 700;
	line-height: 1.1em;
	font-size: 20px;
}

body {
	background-image: url("../imgs/1.jpg");
	background-position: cover
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #111111;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	margin: 24px 20px 10px 20px;
	float: left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

